<div class="p-3">
    <h5 class="mb-4">Menu</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Dashboard")" class="text-decoration-none">📊 Dashboard</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Students")" class="text-decoration-none">👨‍🎓 Students</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Teachers")" class="text-decoration-none">👨‍🏫 Teachers</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Courses")" class="text-decoration-none">📚 Courses</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Faculties")" class="text-decoration-none">🏢 Faculties</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Groups")" class="text-decoration-none">👥 Groups</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Attendance")" class="text-decoration-none">📋 Attendance</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Ratings")" class="text-decoration-none">⭐ Ratings</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Schedule")" class="text-decoration-none">📅 Schedule</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Notifications")" class="text-decoration-none">🔔 Notifications</a>
        </li>
        <li class="list-group-item border-0">
            <a href="@Url.Action("Index", "Reports")" class="text-decoration-none">📄 Reports</a>
        </li>
    </ul>
</div>